{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-3 h-75">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Documento de Identidade Seguro</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"></p>
                <a class="btn btn-primary btn-xl" href="{% url 'form' %}">Criar Identidade</a>
                <a class="btn btn-primary btn-xl" href="{% url 'search' %}">Buscar Identidade</a>
            </div>
        </div>
    </div>
</header>

{% include 'partials/footer.html' %}
{% endblock %}